body {
    background-image: url("");
    background-color: #F5F5F5;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px; 
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}


.form-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}


textarea {
    width: 300px;      
    height: 150px;     
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-bottom: 4px solid black;
    resize: none;     
    font-family: inherit;
}

button {
    background-color: #4CAF50; 
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: block;    
    font-size: 16px;
    margin: 0 auto;  
    border: none;
    cursor: pointer;
}