
body {
background-image: url("");
background-color: #F5F5F5;
margin-top: 120px;
margin-bottom: 100px;
margin-right: 150px;
margin-left: 350px;
}
h1 {
margin-left:25px;
}
input{
width: 70%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border-bottom: 4px solid black;
}
button {
background-color: #4CAF50; /* Green */
margin : auto;
color: white;
padding: 15px 100px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left:150px
}

